/*definition for show adminbar always*/
/**
 * Show admin bar in Fullscreen mode.
 */

 @media (min-width: 600px) {
	body.is-fullscreen-mode .block-editor__container {
		top: 66px;
	}
}

@media (min-width: 782px) {
	body.js.is-fullscreen-mode #wpadminbar {
		display: block;
	}

	body.is-fullscreen-mode .block-editor__container {
		min-height: calc(100vh - 66px);
	}

	body.is-fullscreen-mode .edit-post-layout .editor-post-publish-panel {
		top: 66px;
	}
}

@media (min-width: 783px) {
	.is-fullscreen-mode .interface-interface-skeleton {
		top: 66px;
	}
}

.page #main .entry-header {
	display: none!important;
}
.page.singular .entry-title {
	display: none;
}
.singular .entry-header {
	border: 0;
	padding: 0;
	margin: 0;
}


/**
 * Styles for create new site page.
 * nuevo-sitio.php
 * styles section choose theme
 */
.section-title-choose-theme {
	margin-bottom:20px;
}
.label-choose-theme {
	font-size: 14px;
	line-height: 1.6;
	color: #1d2327;
	font-weight:600;
}
#images_theme {
	display: flex;
	flex-direction: column;
}
.item-image {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
}
.item-image-wrap {
	position: relative;
	cursor: pointer;
	margin-right: 30px;
}
.item-image-wrap > img {
	border: 10px solid rgb(230,230,230);
	box-sizing: border-box;
	border-bottom: 0;
}
.item-content-wrap {
	display: flex;
	flex-direction: column;
}
.item-content-wrap p {
	margin-top: 0;
}
.item-image .tick {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	background-color: #1d2327;
	color: white;
	border-radius: 90px;
	font-size: 36px;
	line-height: 40px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-indent: 4px;
}


/**
 * Styles My sites page.
 * mi-sitio.php
 * styles section grid sites
 */
li.mi-sitio {
	/*margin: 0 1% 30px;
	padding: 8px 1%;*/
	background-color: #FFF;

	display: flex;
	width: 100%;
	margin: 0 0 20px;
	box-sizing: border-box;
}
li.mi-sitio .item-mi-sitio-image {
	max-width: 220px;
	margin-right: 40px;
}
li.mi-sitio .item-mi-sitio-content {
	display: flex;
}
li.mi-sitio .item-mi-sitio-content .my-sites-actions {
	display: flex;
	flex-direction: column;
}
li.mi-sitio .item-mi-sitio-content .item-mi-sitio-title {
	margin-right: 50px;
}
li.mi-sitio .item-mi-sitio-content .my-sites-actions > a {
	margin-bottom: 10px;
}
/*.my-sites.striped {
	max-width: 95%;
}*/
.my-sites.striped li:after {
	background: transparent!important;
}

@media (max-width: 575px) {
	/*.my-sites.striped {
		max-width: auto;
	}*/
	li.mi-sitio {
		flex-direction: column;
	}
	li.mi-sitio .item-mi-sitio-image {
		margin: auto auto 10px;
	}
	li.mi-sitio .item-mi-sitio-content {
		flex-direction: column;
	}
	li.mi-sitio .item-mi-sitio-content .item-mi-sitio-title {
		margin-right: 0;
	}
}


/**
 * Styles New Site Page.
 * nuevo-sitio.php
 * styles section wp-die()
 */
body.toplevel_page_nuevo-sitio .wp-die-message {
	background-color: #FFF;
	padding: 30px;
	border-left: 5px solid red;
	font-size: 16px;
	line-height: 26px;
	width: calc(100% - 160px);
	margin-left: 30px;
	margin-top: 30px;
}