* {
	box-sizing: border-box;
}
body.custom-background {
	background-color: #FFF!important;
}
#wrapper {
	margin: 0;
	width: 100%;
	padding: 0;
}
#wrapper #header,
#wrapper #main,
#wrapper #footer,
#wrapper #colophon {
	width: 100%;
}
#wrapper #main,
#wrapper #footer {
	max-width: 1024px;
	padding: 40px 20px;
	margin: auto;
}
#wrapper #masthead {
	display: flex;
	flex-direction: column;
}
#masthead #branding,
#masthead #access {
	width: 100%;
}
#masthead #branding {
	overflow: hidden;
}
#masthead #access {
	display: flex;
}
#masthead #access .menu {
	margin-left: 0;
	width: 100%;
	padding: 0 20px;
}
#masthead #access .menu ul {
	display: flex;
	flex-wrap: wrap;
}
#masthead #branding #site-title {
	padding-left: 20px;
	width: 50%;
}
#masthead #branding #site-description {
	padding-right: 20px;
	width: 50%;
}
#masthead #branding > img {
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 220px;
}
@media screen and (max-width: 768px) {
	#content {
		width: 100%;
		box-sizing: border-box;
		padding-right: 0;
		margin-left: 0;
	}
	#primary,
	#secondary {
		width: 100%;
	}
}
